<template name="export">
    <div id="content1">
      <paper-card heading="Exports" class="card">
        <div class="card-content">
        <paper-button raised id="methodExportMasco4"><iron-icon icon="file-download"></iron-icon>Masco4</paper-button>
        
        <paper-button raised id="methodExportMasco5"><iron-icon icon="file-download"></iron-icon>Masco5</paper-button>                
        <paper-button raised id="methodExportMascoKey"><iron-icon icon="file-download"></iron-icon>Masco Key</paper-button>        
        <paper-button raised id="methodExportRep"><iron-icon icon="file-download"></iron-icon>REP</paper-button>


        <paper-button raised id="export"><iron-icon icon="file-download"></iron-icon>RPT Descriptive Data</paper-button>

        <paper-button raised id="methodExportPercentTitle"><iron-icon icon="file-download"></iron-icon>RPT Percent (Title) </paper-button>

        <paper-button raised id="methodExportPercentDescription"><iron-icon icon="file-download"></iron-icon>RPT Percent (Description) </paper-button>

        <paper-button raised id="methodExportFourTitleStrong"><iron-icon icon="file-download"></iron-icon>Strong Title Match vs Masco4</paper-button>

        <paper-button raised id="methodExportFiveTitleStrong"><iron-icon icon="file-download"></iron-icon>Strong Title Match vs Masco5</paper-button>


        <paper-button raised id="methodExportRepTitleStrong"><iron-icon icon="file-download"></iron-icon>Strong Title Match vs REP</paper-button>




        </div>
      </paper-card>
    </div>
</template>