<template name="home">
  <div class="vertical-section">
    <paper-card heading="Summary" class="card">
      <div class="card-content">
        <p class="type-size-display-jumbo">type-size-display</p>
        <p class="type-size-display-larger">type-size-display</p>
        <p class="type-size-display-large">type-size-display</p>
        <p class="type-size-display">type-size-display</p>
        <p class="type-size-headline">type-size-headline</p>
        <p class="type-size-title">type-size-title</p>
        <p class="type-size-subhead">type-size-subhead</p>
        <p class="type-size-body">type-size-body</p>
        <p class="type-size-caption">type-size-caption</p>

      </div>
    </paper-card>
  </div>
</template>