<template name="applicationLayout">
	<paper-drawer-panel class="flex">
	  
		<paper-header-panel drawer>
			<paper-toolbar>
			  <span class="type-title">wb-rpt</span>
			</paper-toolbar>
			<paper-menu class="nav">
			
				<paper-item  paper-drawer-toggle data-action="home" class="menu-trigger">
					    <iron-icon icon="icons:info" item-icon></iron-icon>Home
				</paper-item>

<!-- 				<paper-submenu class="nav-submenu">
					<paper-item class="menu-trigger">
						<iron-icon icon="icons:dns" item-icon></iron-icon>Sources
					</paper-item>
					<paper-menu class="menu-content" id="submenu">
						<paper-item paper-drawer-toggle data-action="sources">RSS Feeds</paper-item>
						<paper-item paper-drawer-toggle data-action="jobStreetSources">Web Scraping Targets</paper-item>
					</paper-menu>
				</paper-submenu> -->

			</paper-menu>
		</paper-header-panel>
		<paper-header-panel main>
			<div class="flex">
				<div class="vertical-center-justified layout">
					<div class="page-container">
					    {{> yield}}		
					</div>
				</div>
			</div>
			<div class="flex vertical-left-justified layout">
			    {{ > publicFooter}}
			</div>
		</paper-header-panel>
	</paper-drawer-panel>
</template>