<template name="applicationLayout">
	<paper-drawer-panel class="flex">
	  
		<paper-header-panel drawer>
			<paper-toolbar>
			  <span class="type-title">REP/RPT Classification</span>
			</paper-toolbar>
			<paper-menu class="nav">
				<paper-item data-action="home" class="menu-trigger">
				    <iron-icon icon="icons:home" item-icon></iron-icon>Home
				</paper-item>
				<paper-submenu class="">
					<paper-item class="menu-trigger">
						<iron-icon icon="icons:dns" item-icon></iron-icon>Classification Keys
					</paper-item>
					<paper-menu class="menu-content" id="submenu">
						<a href="{{pathFor 'mascoKey'}}"><paper-item data-action="mascoKey">Masco Key</paper-item></a>
						<paper-item data-action="mascoFour">Masco 4</paper-item>
						<paper-item data-action="mascoFive">Masco 5</paper-item>
						<paper-item data-action="rep">REP</paper-item>
					</paper-menu>
				</paper-submenu>

				<paper-item  data-action="rpt" class="menu-trigger">
				    <iron-icon icon="icons:view-list" item-icon></iron-icon>RPT Classification
				</paper-item>
				<paper-item  data-action="export" class="menu-trigger">
				    <iron-icon icon="icons:cloud-download" item-icon></iron-icon>Exports
				</paper-item>
			</paper-menu>
		</paper-header-panel>
		<paper-header-panel main>
			<div class="flex">
				<div class="vertical-center-justified layout">
					<div class="page-container">
					    {{> yield}}		
					</div>
				</div>
			</div>
			<div class="flex vertical-left-justified layout">
			    {{ > publicFooter}}
			</div>
		</paper-header-panel>
	</paper-drawer-panel>
</template>