<template name="applicationLayout">
	<paper-drawer-panel class="flex">
	  
		<paper-header-panel drawer>
			<paper-toolbar>
			  <span class="type-title">wb-rpt</span>
			</paper-toolbar>
			<paper-menu class="nav">
				<paper-item data-action="home" class="menu-trigger">
				    <iron-icon icon="icons:info" item-icon></iron-icon>Home
				</paper-item>
				<paper-item  data-action="uploadRpt" class="menu-trigger">
				    <iron-icon icon="icons:view-list" item-icon></iron-icon>RPT
				</paper-item>
				<paper-item  data-action="uploadRep" class="menu-trigger">
				    <iron-icon icon="icons:view-list" item-icon></iron-icon>REP
				</paper-item>
				<paper-item  data-action="uploadMasco" class="menu-trigger">
				    <iron-icon icon="icons:view-list" item-icon></iron-icon>Masco Codes
				</paper-item>
				<paper-item  data-action="export" class="menu-trigger">
				    <iron-icon icon="icons:view-list" item-icon></iron-icon>Export
				</paper-item>

			</paper-menu>
		</paper-header-panel>
		<paper-header-panel main>
			<div class="flex">
				<div class="vertical-center-justified layout">
					<div class="page-container">
					    {{> yield}}		
					</div>
				</div>
			</div>
			<div class="flex vertical-left-justified layout">
			    {{ > publicFooter}}
			</div>
		</paper-header-panel>
	</paper-drawer-panel>
</template>